
<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "4322386131" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.6789263404116!2d-70.43784054991596!3d-23.72315718452722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96b029feea3cddf7%3A0xd1a6e9a12e2a1cec!2sAv.+Jaime+Guzm%C3%A1n+Err%C3%A1zuriz+5000%2C+Antofagasta%2C+Regi%C3%B3n+de+Antofagasta!5e0!3m2!1ses-419!2scl!4v1537019192368" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

</div>